<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">BUY COUCHES</h2>
  
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://thefoschini.vtexassets.com/arquivos/ids/78542537-1200-1200?v=638289893521600000&width=1200&height=1200&aspect=true" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Two seats
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">White</p>
            </div>
            <p class="text-sm font-medium text-gray-900">R1135</p>
          </div>
          
        </div>
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://media.takealot.com/covers_images/aa1f97c566ae403bbe0196855c1dadda/s-zoom.file" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Four seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Green</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R1115</p>
            </div>
            
          </div>

          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://media.takealot.com/covers_images/31245e2a5ab6495da86cbf58dd6f8a61/s-zoom.file" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Four seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Blue</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R1135</p>
            </div>
            
          </div>

          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://media.takealot.com/covers_images/d5c18a8375b146b980d1431a14192f1d/s-zoom.file" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Four seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Grey</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R2235</p>
            </div>
            
          </div>
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://reclineronline.co.za/wp-content/uploads/2020/07/KLY-CNR-6P-2A-FB-JA-main.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Seven seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Grey</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R4835</p>
            </div>
            
          </div>
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://3pmedia.leroymerlin.co.za/SOURCE/3f28802d06064b62b0190f8232b5c23d" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Two seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Grey</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R6635</p>
            </div>
            
          </div>
          
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://thefoschini.vtexassets.com/arquivos/ids/78570829-1200-1200?v=638289908888370000&width=1200&height=1200&aspect=true" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Two seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">White</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R9835</p>
            </div>
            
          </div>
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://reclineronline.co.za/wp-content/uploads/2022/09/Onyx-Packshots_Gomma-Gomma-2.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Four seats
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Green</p>
              </div>
              <p class="text-sm font-medium text-gray-900">R4435</p>
            </div>
            
          </div>
        <!-- More products... -->
      </div>
    </div>
  </div>
  